@import '../fonts/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg: #111111
}

body {
  min-height: 100vh;
  color: white;
  background-color: var(--main-bg);
  font-family: 'TT Octosquares', Rollbox, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}